
.container {
    width: 960px;
    margin: 0 auto;
}

* {
    background-color: #fff;
    font-family: arial, "Times New Roman";
}
h1 {
    font-size: 48px;
    text-align: center;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
li {
    list-style-type: none;
    font-size: 24px
}